:root.light {
    --color-primary: #000;
    --color-background: #fff;
    --color-dark-mode-indicator: #940d0d;
    --link-color: #0202e4;
    --link-visited-color: #521b87;
}

:root.dark {
    --color-primary: #fff;
    --color-background: #000;
    --color-dark-mode-indicator: green;
    --link-color: #87adf5;
    --link-visited-color: #d192d2;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

.page-navigation {
    display: flex;
    background-color: #940d0d;
    align-items: stretch;
}

.page-navigation > * {
    flex: 1 1 auto;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    font-size: x-large;
    padding: 8px;
}

.page-navigation > .nav-link {
    color: white;
}

.page-navigation > *:hover {
    background-color: #c41212;
}

.skills-container {
    display: flex;
}

.skills-container > * {
    flex: 1 1 auto;
}

.back-to-top-button {
    width: 16px;
    height: 16px;
}

.centered {
    display: grid;
    place-items: center;
}

.dark-mode-toggle {
    display: flex;
}

.dark-mode-toggle > * {
    padding: 4px;
}

.dark-mode-toggle > *.dark-mode-indicator {
    color: var(--color-dark-mode-indicator);
}
