.page-navigation {
    display: flex;
    background-color: #940d0d;
    align-items: stretch;
}

.page-navigation > * {
    flex: 1;
    text-align: center;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: x-large;
    padding: 8px;
}

.page-navigation > *:hover {
    background-color: #c41212;
}

.skills-container {
    display: flex;
}

.skills-container > * {
    width: 50%;
}

.back-to-top-button {
    width: 16px;
    height: 16px;
}

.centered {
    display: grid;
    place-items: center;
}